/* Desktop - Results Screen */ 

.header {
    display: flex; 
    flex-direction: column;
    align-items: flex-start; /* Align items to the start of the flex container */
    width: 100%; /* Full width of the parent */
}

.logo{
    height: 44px; 
    width: auto; /* Maintain aspect ratio */

    /* mobile styles */
    @media (max-width: 768px){
        height: 36px; /* Reduce height for smaller screens */
    }
}

.quizContent {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: var(--space-7); /* 32px gap between children */
    width: 100%; /* Full width of the parent */
    max-width: 430px; /* Limit the maximum width to 430px */
}

.headerTitle {
    text-align: center; /* Center the text */
}

/* actions styling */
.actions {
    display: flex;
    flex-direction: row; /* Side by side on desktop */
    gap: var(--space-4); /* 16px gap between children */
    width: 100%; /* Full width of the parent */

    @media (max-width: 768px){
        flex-direction: column; /* Stack children vertically on smaller screens */
    }
}

.actions > * {
    flex: 1; /* Equal width buttons when side by side */
}