/* Desktop - Results Screen */ 

.header {
    display: flex; 
    align-items: center; /* Center children vertically */
    width: 100%; /* Full width of the parent */

    /* mobile styling for header */ 
    @media (max-width: 768px){
        flex-direction: column; /* Stack children vertically on smaller screens */
    }
}

.logo{
    height: 44px; 
    width: auto; /* Maintain aspect ratio */

    /* mobile styles */
    @media (max-width: 768px){
        height: 36px; /* Reduce height for smaller screens */
    }
}

.quizContent {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: var(--space-7); /* 32px gap between children */
    width: 100%; /* Full width of the parent */
}

.headerTitle {
    text-align: center; /* Center the text */
}

/* actions styling */
.actions {
    display: flex;
    flex-direction: row; /* Side by side on desktop */
    gap: var(--space-4); /* 16px gap between children */
    width: 100%; /* Full width of the parent */
    justify-content: center; /* Center children horizontally */

    @media (max-width: 768px){
        flex-direction: column; /* Stack children vertically on smaller screens */
    }
}

